*  {
  &::selection {
    background: $main-color;
    color: $background-color;
  }
}

html {
  padding-left: $global-padding;
  padding-right: $global-padding;
  @include screen-size('small') {
    padding-left: $global-padding / 2;
    padding-right: $global-padding / 2;
    }
  background: $background-color;
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
  font-family: 'maren-serif', $sans-serif-stack;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  @include screen-size('small') {
    overflow-y: auto;
  }
  @include screen-size('small') {}
}

i, em {
  font-style: italic;
  font-family: 'maren-serif-italic', $serif-stack;
}

strong {
  font-weight: bold;
  font-family: 'maren-serif-bold', $serif-stack;
  i, em {
    font-style: italic;
    font-family: 'maren-serif-bold-italic', $serif-stack;
  }
}

a {
  color: $main-color;
  text-decoration: none;
  font-family: 'maren-serif-bold';
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $main-color;
  }
}

p {
  max-width: 70ch;
  @include screen-size('small') {
    width: 100%;
  }
  text-indent: $indent;
}

pre {
  max-width: 70ch;
}

h2 {
  p {
    text-indent: 0;
    margin-bottom: $line-height;
  }
}

img {
  max-width: 100%;
  height: auto;
  margin-top: $line-height;
  margin-bottom: $line-height;
}

.content {
  p:first-child {
    text-indent: 0;
  }
}

#search {
  position: fixed;
  @include screen-size('small') {
    display: none;
  }
  right: $global-padding;
  top: 2 * $line-height;
  z-index: 1000;
  label {
    display: none;
  }
  input[type=submit] {
    display: none;
  }
  div {
    display: inline-block;
  }
  .search-button {
    display: inline-block;
  }
  input[type=text] {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'maren-serif', $sans-serif-stack;
    font-size: $font-size;
    display: none;
    height: $line-height;
    line-height: $line-height;
    background: none;
  }
  &.active-search {
    input[type=text] {
      display: inline-block;
    }
    .search-button {
      display: none;
    }
  }
}

header {
  position: fixed;
  top: 1.5 * $line-height;
  background: rgba(255,255,255,0.5);
  z-index: 1000;
  width: 400px;
  @include screen-size('small') {
    width: 100%;
  }
}

.main-menu-item {
  margin-left: $indent;
  font-family: 'maren-serif', $sans-serif-stack;
  &:hover {
    font-family: 'maren-serif-bold', $sans-serif-stack;
 }
}

.column {
  position: absolute;
  &.left {
    left: 0;
    width: 360px;
    height: 100vh;
    margin-right: 40px;
    @include screen-size('small') {
      width: 100%;
      height: auto;
      margin-right: 0px;
      position: static;
      float: left;
    }
    padding-top: 5 * $line-height;
  }
  &.right {
    left: 400px;
    width: calc(100% - 400px);
    height: 100vh;
    @include screen-size('small') {
      display: none;
    }
    overflow-x: auto;
    @include hide-scroll;
  }
  &.about-column {
    @include screen-size('small') {
      display: block;
      width: 100%;
      height: auto;
      margin-right: 0px;
      position: static;
      float: left;
    }

  }
}

.menu-item {
  display: block;
  margin-bottom: $line-height;
  font-family: 'maren-serif', $serif-stack !important;
  p {
    text-indent: 0;
    &::before {
      content: "";
      position: relative;
      top:3px;
      text-align: left;
      font-size:15px;
      height: 18px;
      width: $indent;
      overflow: hidden;
      display: inline-block;
      font-weight: bold;
    }
  }
  &:hover, &.active-section-link {
    p {
      text-indent: 0;
      &::before {
        content: "●";
      }
    }
    @include screen-size('small') {
      p {
        text-indent: 0;
        &::before {
          content: "";
        }
      }
    }
  }
}

.menu-header {
  display: block;
  font-family: 'maren-serif-bold', $serif-stack;
  margin-bottom: $line-height;
}

*:target {
  display: block !important;
}

.post-item {
  display: none;
  padding-top: 5 * $line-height + 6px;
  padding-bottom: 5 * $line-height;
}

.single-post {
  padding-top: 5 * $line-height + 6px;
  @include screen-size('small') {
    padding-top: 2 * $line-height;
  }
  margin-bottom: 50 * $line-height;
}

p:first-child {
  text-indent: none !important;
}

.pdf {
  margin-top: 2 * $line-height;
}

.about-list-item {
  display: block;
  margin-bottom: $line-height;
  font-family: 'maren-serif', $serif-stack !important;
}

#close {
  position: fixed;
  display: none;
  right: $global-padding;
  top: 2 * $line-height;
  z-index: 1000;
  cursor: pointer;
  &:hover {
    font-family: 'maren-serif-bold', $sans-serif-stack;
 }
}

.lightbox {
  .column {
    &.right {
      @include screen-size('small') {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding-right: $global-padding / 2;
        padding-left: $global-padding / 2;
        background: $background-color;
      }
    }
  }
  header {
    @include screen-size('small') {
      display: none;
    }
  }
  #close {
    @include screen-size('small') {
      display: block;
    }
  }
}
