*  {
  &::selection {
    background: $main-color;
    color: $background-color;
  }
}

html {
  padding-left: $global-padding;
  padding-right: $global-padding;
  @include screen-size('small') {
    padding-left: $global-padding / 2;
    padding-right: $global-padding / 2;
    }
  background: $background-color;
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  @include screen-size('small') {
    font-size: $font-size - 1px;
  }
  line-height: $line-height;
  font-family: 'maren-serif', $sans-serif-stack;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  @include screen-size('small') {
    overflow-y: auto;
  }
  @include screen-size('small') {}
}

i, em {
  font-style: italic;
  font-family: 'maren-serif-italic', $serif-stack;
}

strong {
  font-weight: bold;
  font-family: 'maren-serif-bold', $serif-stack;
  letter-spacing: 0.01em;
  i, em {
    font-style: italic;
    font-family: 'maren-serif-bold-italic', $serif-stack;
    letter-spacing: 0.01em;

  }
}

a {
  color: $main-color;
  text-decoration: none;
  font-family: 'maren-serif', $sans-serif-stack;
  display: inline-block;
  // padding-left: $indent;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
    // text-decoration: underline;
  }
  &:active {
    color: $main-color;
  }
}

p {
  max-width: 70ch;
  @include screen-size('small') {
    width: 100%;
  }
  text-indent: $indent;
  @include screen-size('small') {
    text-indent: $small-indent;
  }
}

pre {
  max-width: 70ch;
}

h2 {
  p {
    text-indent: 0;
    margin-bottom: $line-height;
  }
}

img {
  width: 70ch;
  max-width: 100%;
  height: auto;
  margin-top: $line-height;
  margin-bottom: $line-height;
}

#search {
  position: fixed;
  @include screen-size('small') {
    display: none;
  }
  right: $global-padding;
  top: 2 * $line-height;
  z-index: 1000;
  label {
    display: none;
  }
  input[type=submit] {
    display: none;
  }
  div {
    display: inline-block;
  }
  .search-button {
    display: inline-block;
  }
  input[type=text] {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'maren-serif', $sans-serif-stack;
    display: none;
    height: $line-height;
    line-height: $line-height;
    background: none;
  }
  &.active-search {
    input[type=text] {
      display: inline-block;
    }
    .search-button {
      display: none;
    }
  }
}

header {
  position: fixed;
  top: 0;
  padding-top: 1.5 * $line-height;
  background: rgba(255,255,255,0.95);
  z-index: 1000;
  width: 400px;
  padding-bottom: 19px;
  box-shadow: -20px 0px 20px 15px white;
  @include screen-size('small') {
    width: 100%;
    box-shadow: 0px 0px 20px 5px white;
  }
}

// .curatorial {
//   a{
//     // padding-left: $indent + 2px;
//     margin-left: -1px;
//   }
// }

.column {
  position: absolute;
  // overflow-x: auto;
  @include hide-scroll;
  overflow: hidden;
  &.left {
    left: 0;
    width: 360px;
    height: 100vh;
    margin-right: 40px;
    @include screen-size('small') {
      width: 100%;
      height: auto;
      margin-right: 0px;
      position: static;
      float: left;
    }
    .inner {
      padding-top: 5 * $line-height;
    }
  }
  &.right {
    left: 400px;
    width: calc(100% - 400px);
    height: 100vh;
    @include screen-size('small') {
      display: none;
    }
  }
  &.about-column {
    @include screen-size('small') {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 3 * $line-height;
      margin-bottom: 3 * $line-height;
      position: static;
      float: left;
    }

  }
  .inner {
    margin-right: -16px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
}

.main-menu-item {
  a{
    margin-left: -1px;
  }
  display: inline-block;
  font-family: 'maren-serif', $serif-stack !important;
  p {
    text-indent: $indent;
    @include screen-size('small') {
      text-indent: $small-indent;
    }
    position: relative;
    &::before {
      content: "";
      left: 0;
      top: -1px;
      left: -1px;
      position: absolute;
      text-align: center;
      font-size:12px;
      height: 14px;
      width: 14px;
      width: $indent;
      @include screen-size('small') {
        width: $small-indent;
      }
      display: block;
      font-weight: bold;
      letter-spacing: 0.01em;
    }
  }
  &:first-child {
    p {
      &::before {
        left: 0px;
        text-align: left;
      }
      text-indent: $indent !important;
      @include screen-size('small') {
        text-indent: $small-indent !important;
      }
    }
  }
  &:hover, &.active {
    p {
      &::before {
        text-indent: 0;
        content: "●";
      }
    }
    @include screen-size('small') {
      p {
        // text-indent: 0;
        &::before {
          content: "";
        }
      }
    }
  }
}

.menu-item {
  display: inline-block;
  width: 100%;
  margin-bottom: $line-height;
  font-family: 'maren-serif', $serif-stack !important;
  padding-right: 16px;
  p {
    text-indent: $indent;
    @include screen-size('small') {
      text-indent: $small-indent;
    }
    &:first-child {
      text-indent: $indent !important;
      @include screen-size('small') {
        text-indent: $small-indent !important;
      }
    }
      position: relative;
    &::before {
      content: "";
      left: 0;
      top: -1px;
      position: absolute;
      text-align: left;
      font-size:12px;
      height: 14px;
      width: 14px;
      width: $indent;
      @include screen-size('small') {
        width: $small-indent;
      }
      // overflow: hidden;
      display: block;
      font-weight: bold;
      letter-spacing: 0.01em;

    }
  }
  &:hover, &.active-section-link {
        p {
      &::before {
        text-indent: 0;
        content: "●";
      }
    }
    @include screen-size('small') {
      p {
        text-indent: 0;
        &::before {
          content: "";
        }
      }
    }
  }
}

.menu-header {
  display: block;
  font-family: 'maren-serif-bold', $serif-stack;
  margin-bottom: $line-height;
  letter-spacing: 0.01em;
}

*:target {
  display: block !important;
}

.post-item {
  display: none;
  padding-top: 5 * $line-height;
  @include screen-size('small') {
    padding-top: 4 * $line-height;
  }
  padding-bottom: 5 * $line-height;
  padding-right: 16px;
  a {
    // padding-left: $indent;
    text-indent: $indent;
    position: relative;
    display: inline-block;
    color: #aaaaaa;
    &::before {
      content: "";
      left: -14px;
      top: -1px;
      position: absolute;
      text-align: left;
      font-size: 12px;
      height: 14px;
      width: 14px;
      width: $indent;
      text-align: left;
      @include screen-size('small') {
        width: $small-indent;
      }
      font-weight: bold;
      letter-spacing: 0.01em;
    }
    &:hover {
      color: $main-color;
      &::before {
        content: "●";
      }
    }
  }
}

.single-post {
  padding-top: 5 * $line-height;
  @include screen-size('small') {
    padding-top: 2 * $line-height;
  }
  margin-bottom: 5 * $line-height;
  padding-right: 16px;
}

p:first-child {
  text-indent: none !important;
}

.pdf {
  margin-top: 2 * $line-height;
}

.about-list-item {
  display: inline-block;
  margin-bottom: $line-height;
  font-family: 'maren-serif', $serif-stack !important;
  padding-right: 16px;
}

// #close {
//   position: fixed;
//   display: none;
//   right: $global-padding;
//   top: 2 * $line-height;
//   z-index: 1000;
//   cursor: pointer;
//   &:hover {
//     font-family: 'maren-serif-bold', $sans-serif-stack;
//     letter-spacing: 0.01em;
//  }
// }

#close {
  display: none;
  position: fixed;
  top: 0;
  padding-top: 1.5 * $line-height;
  background: rgba(255,255,255,0.9);
  z-index: 1000;
  width: 400px;
  text-align: right;
  padding-bottom: 19px;
  position: relative;
  cursor: pointer;
  box-shadow: -20px 0px 20px 5px white;
  @include screen-size('small') {
    width: 100%;
    box-shadow: 0px 0px 20px 5px white;
  }
  span {

  }
}

.lightbox {
  .column {
    &.right {
      @include screen-size('small') {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding-right: $global-padding / 2;
        padding-left: $global-padding / 2;
        background: $background-color;
      }
    }
  }
  header {
    @include screen-size('small') {
      display: none;
    }
  }
  #close {
    @include screen-size('small') {
      display: block;
    }
  }
}

.about-meta {
  .inner {
    padding-top: 0;
  }
  @include screen-size('small') {
    float: right !important;
  }
}

.content, .single-post {
  p:first-child {
    text-indent: 0;
  }
}

.external {
  color: #aaaaaa !important;
  &:active {
    color: #aaaaaa !important;
  }
  &:visited {
    color: #aaaaaa !important;
  }

  &:hover {
    color: $main-color !important;
  }
}
